.body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin-top: 50px;
    background: rgb(195, 187, 209)
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 294px;
    height: 420px;
    background: transparent;
    padding-top: 20px;
    /* border: 15px outset rgb(226, 207, 252); */
    /* border-radius: 7%; */
}
.symbol {
    display: flex;
    font-size: 40px;
    color: rgb(226, 207, 252);
}
.screen {
    background-color: rgb(223, 223, 223);
    color: rgb(49, 49, 46);
    border: 2px solid rgb(61, 61, 58);
    width: 258px;
    height: 55px;
    text-align:end;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 39px;
    vertical-align:text-bottom;
}
.buttonBox {
    display: grid;
    grid-template-columns: auto auto  auto 65px;
    background-color: rgb(112, 79, 143);
    margin-top: 20px;
    border: 1px solid rgb(61, 61, 58);
    /* column-gap: 1px;
    row-gap: 1px; */
}
button {
    color: rgb(61, 61, 58);
    font-size: 45px;
    width: 65px;
    height: 65px;
    border-width: 1px;
    border-color:  rgb(61, 61, 58);
    background: none;
    /* border-radius: 20%; */
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
button:hover {
    transform: scale(1.06);
    border: 2px solid rgb(61, 61, 58);
}
.numBtn {
    background-color: rgb(226, 207, 252);
}
.opBtn {
    background-color: rgb(176, 179, 228);
}
.resets {
    background-color: rgb(172, 223, 204);
}
.btn {
    background-color: rgb(226, 207, 252);
}
#eval{
    background-color: rgb(223, 172, 219);
}

a {
    text-decoration: none;
    border-radius: 50%;
}